<%# Everything lowercase snakecase even if not in DB %>
<div id="<%= dom_id analytic %>">
  <p>
    <strong>Date:</strong>
    <%= analytic.date %>
  </p>
  <p>
    <strong>Feedback:</strong>
    <%= analytic.feedback %>
  </p>
  <p>
    <strong>Product:</strong>
    <%= analytic.product %>
  </p>
  <p>
    <strong>Subcategory:</strong>
    <%= analytic.subcategory %>
  </p>
  <p>
    <strong>Feedback Category:</strong>
    <%= analytic.feedback_category %>
  </p>
  <p>
    <strong>Sentiment:</strong>
    <%= analytic.sentiment %>
  </p>
  <p>
    <strong>Sentiment Score:</strong>
    <%= analytic.sentiment_score %>
  </p>
  <p>
    <strong>Source:</strong>
    <%= analytic.source %>
  </p>
</div>
