<div id="<%= dom_id analytic %>">
  <p>
    <strong>Date:</strong>
    <%= analytic.Date %>
  </p>
  <p>
    <strong>Feedback:</strong>
    <%= analytic.Feedback %>
  </p>
  <p>
    <strong>Product:</strong>
    <%= analytic.Product %>
  </p>
  <p>
    <strong>Subcategory:</strong>
    <%= analytic.Subcategory %>
  </p>
  <p>
    <strong>Feedback Category:</strong>
    <%= analytic.Feedback_Category %>
  </p>
  <p>
    <strong>Sentiment:</strong>
    <%= analytic.Sentiment %>
  </p>
  <p>
    <strong>Sentiment Score:</strong>
    <%= analytic.Sentiment_Score %>
  </p>
  <p>
    <strong>Source:</strong>
    <%= analytic.Source %>
  </p>
</div>
