<div id="<%= dom_id actionable %>">
  <p>
    <strong>Action:</strong>
    <%= actionable.action %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= actionable.status %>
  </p>

  <p>
    <strong>Subproduct:</strong>
    <%= actionable.subproduct %>
  </p>

  <p>
    <strong>Actionable category:</strong>
    <%= actionable.actionable_category %>
  </p>

  <p>
    <strong>Feedback category:</strong>
    <%= actionable.feedback_category %>
  </p>

  <p>
    <strong>Feedback json:</strong>
    <%= actionable.feedback_json %>
  </p>

</div>
