<p style="color: green"><%= notice %></p>

<%= render @actionable %>

<div>
  <%= link_to "Edit this actionable", edit_actionable_path(@actionable) %> |
  <%= link_to "Back to actionables", actionables_path %>

  <%= button_to "Destroy this actionable", @actionable, method: :delete %>
</div>
