<p style="color: green"><%= notice %></p>

<%= render @log %>

<div>
  <%= link_to "Edit this log", edit_log_path(@log) %> |
  <%= link_to "Back to logs", logs_path %>

  <%= button_to "Destroy this log", @log, method: :delete %>
</div>
