<!DOCTYPE html>
<html>
  <head>
    <title>JbaaamMain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "jbaaam", "data-turbo-track": "reload" %>
    <%= javascript_include_tag asset_path('main.0ae9d550.js'), 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
